:root {


  --color-purple-light: #624874;
  --color-purple-dark: #473256;
  --color-orange-font: #e25734;
  --color-orange-light: #ffcac0;
  --color-white-light: #f7f8f2;
  --color-white-dark: #e5e0d8;
  --color-light-font: #7e7f7c;
  --color-dark-font: #373737;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--color-dark-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white-light);
}

/*425*/