:root {


  --color-purple-light: #624874;
  --color-purple-dark: #473256;
  --color-orange-font: #e25734;
  --color-orange-light: #ffc6b2;
  --color-white-light: #e9ebe1;
  --color-white-dark: #CBC6BE;
  --color-light-font: #8E8F87;
  --color-dark-font: #373737;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--color-dark-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white-dark);
}